*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabsContainer{
    background-color: #ccc;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid black;
}
.heading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    div{
        background-color: greenyellow;
        padding: 10px 20px;
        border: 2px solid black;
        cursor: pointer;
    }
}
.content{
    padding: 20px;
    text-align: center;
}