.wrapper{
    background-color: rgb(24, 104, 64);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100vh;
}
.wrapper ul{
    list-style-type: none ;
    display: flex;
    flex-direction:column;
    gap: 10px;
    border-radius: 10px;
    margin: 20px;
    background-color: rgb(78, 147, 113);
    li{
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}
.btns{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    button{
        padding: 8px 10px;
        background-color: rgb(78, 147, 113);
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 10px;
    }
}
input{
    padding: 10px 15px;
    border-radius: 10px;
    outline: none;
    width: 200px;
}