.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 50px;
    box-shadow: 0 0 10px #818181;
    padding: 10px;
    gap: 10px;
}
.btn{
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: #a2a2a2;
    font-size: 20px;
}
.btn:nth-child(1):hover{
    border-color: rgb(0, 183, 255);
    color: rgb(0, 183, 255);
}
.btn:nth-child(2):hover{
    border-color: red;
    color: red;
}
.btn:nth-child(3):hover{
    border-color: blue;
    color: blue;
}
.btn:nth-child(4):hover{
    border-color: navy;
    color: navy;
}
.btn:nth-child(5):hover{
    border-color: darkmagenta;
    color: darkmagenta;
}
.liked{
    background-color: rgb(0, 183, 255);
    color: white;
}
.loved{
    background-color: red;
    color: white;
}
.fbed{
    background-color: blue;
    color: white;
}
.lined{
    background-color: navy;
    color: white;
}
.instaed{
    background-color: darkmagenta;
    color: white;
}