  .App {
    font-family: sans-serif;
    text-align: center;
  }
  .likeBtn {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 20px;
    padding: 5px 8px;
    transition: 0.5s;
  }
  .likeBtn:hover {
    border-color: red;
    color: red;
  }
  .liked {
    background-color: red;
    color: white;
    border-color: red;
  }
  